<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<form th:action="@{/auth/signup}" th:object="${member}" method="post">
    <div>
        <label for="name">Username:</label>
        <input type="text" id="name" th:field="*{name}" required/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
</body>
</html>
